{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {{ form_start(seasonForm) }}
        {{ form_widget(seasonForm) }}
        <button class="btn btn-outline-dark mt-2">Create Season</button>
        {{ form_end(seasonForm) }}
    </div>


{% endblock %}

{% block title %}

{% endblock %}

